 
 body{
 	background-image: url(../img/IMG4.jpe);
 	color: black;
 	
 }

 <style type="text/css">
	h2{
		color: black; 
		font-size: 20px;
		text-align: center;
	}

	.texto-parrafo{
		text-align: justify; 
		margin-right: 10px; 
		color: black; 
	}


 
    
.menu-lista{
	display: inline-flex;
	list-style: none;
}


.img{
	border-radius: 50%;
	width: 170px;
	height: 170px;
	margin-left: 70px;
}

.padd-sm{
	padding: 5px
}


.menu{
	text-align: right;
	width: 80%
}

.menu-padre{
	display: flex;
}


.enlaces-menu{
	text-decoration: none;
	color: black;
}


.enlaces-menu:hover{
	text-decoration: underline;
	color: white;
}


header{
	background-color: #008B8B;
	height: 60px;
}


.div-padre{
	display: flex;
}


.div-md{
	width: 50%;
	padding: left:70px;
}


.texto-footer{
	padding: : 10px;
	font-size: 15px;
	text-align: center;
}